<div class="text-center row">
	<h1>Welcome to Anagram Detector</h1>
</div>

<div class="text-left row">
	<h3>This is a software that solves the following problem:</h3>
	<h3>You got a word or a phrase and want to check if another word or phrase is an anagram of the first one!</h3>
	<h3>Simple right?</h3>
</div>
<div class="row">
	<h3>To start using it you just need to:</h3>
	<h3>1 - Click in the button below;</h3>
	<h3>2 - Fill up the first text(word or phrase);</h3>
	<h3>3 - Fill up the text you want to check if is an anagram;</h3>
	<h3>4 - Click in check and see the result;</h3>
</div>
<div class="text-center">
	<a class="button" href="/anagrams/check">Start now!</a>
</div>