<div class="text-center">	
	<% if @result %>
		<h1>This is an Anagram! :)</h1>
	<% else %>
		<h1>This is NOT an anagram! ):</h1>
	<% end %>
</div>
<div class="text-center">
	<a href="/anagrams/check" class="button">Try Again</a>
</div>